name: uts_backend
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
<<<<<<< HEAD

  awesome_notifications: ^0.10.1
=======
>>>>>>> d163b39770905804eecc648a144d0f0a92123320
  carousel_slider: ^5.1.1
  cloud_firestore: ^6.1.0
  cupertino_icons: ^1.0.8
  dotted_border: ^3.1.0
  firebase_analytics: ^12.0.3
  firebase_auth: ^6.1.2
  firebase_core: ^4.2.1
  flutter:
    sdk: flutter
  flutter_form_builder: ^10.1.0
  flutter_profile_picture: ^2.0.0
  geocoding: ^4.0.0
  geolocator: ^14.0.2
  google_fonts: ^6.3.2
  http: ^1.5.0
  image_picker: ^1.2.0
  intl: ^0.20.2
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  provider: ^6.1.5+1
  shared_preferences: ^2.5.3
  skeletonizer: ^2.1.0+1
  sqflite: ^2.4.2
  table_sticky_headers: ^2.0.5
  awesome_notifications: ^0.10.0
  google_mobile_ads: ^7.0.0
  cached_network_image: ^3.4.1

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/img/man.png
    - assets/img/woman.png
    - assets/img/splash.png
    - assets/img/logo.png
    - assets/icons/shuttlecock.png
    - assets/icons/medal.png
    - assets/icons/level.png
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-ExtraBold.ttf
          weight: 800
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
